<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toy.book.dao.UserDao">
	<select id="userList" resultType="java.util.HashMap">
		SELECT * FROM USERS
	</select>
	
	<delete id="delete" parameterType="java.util.List">
			DELETE FROM USERS
			<where>
				<foreach collection="list" item="item" open="" close="" separator="OR">
					ID=#{item}				
				</foreach>
			</where>
	</delete>
	<insert id="temporay" parameterType="java.util.List">
		INSERT INTO USERS VALUES((SELECT NVL(MAX(ID)+1,0) FROM USERS),#{userName},#{password},#{age},2)
	</insert>
</mapper>